
anyio
asttokens
blinker
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cycler
cymem
debugpy
decorator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
executing
fastapi
Flask
fonttools
h11
idna
imbalanced-learn
imblearn
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
murmurhash
nest-asyncio
nltk
numpy
packaging
pandas
parso
pdf2image
pdfminer.six
pillow
platformdirs
preshed
prompt_toolkit
psutil
pure_eval
pycparser
pydantic
pydantic_core
Pygments
pyparsing
pytesseract
python-dateutil
pytz
pyzmq
regex
requests
rich
scikit-learn
scipy
seaborn
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
starlette
thinc
threadpoolctl
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
uvicorn
wasabi
wcwidth
weasel
Werkzeug
wrapt
xgboost
